body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header.main_logo{
  background-size: cover;
  width: 100px;
  height: 100px;
}

.img-row-control{
  width:100%;
  padding-top: 20px;
}
.product-cover{
  text-align:center;
  display:table;
}

/* .product-img-div {
  display:table-cell;
  vertical-align:middle;
} */

.product-img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 모든 Navbar 브랜드 및 링크에 대한 일반 스타일 */
.navbar-brand,
.nav-link {
  margin-right: 1rem; /* 오른쪽에 여백을 추가 */
}

/* 오른쪽에 위치할 버튼 및 이미지에 대한 스타일 */
.navbar .navbar-nav .nav-link {
  display: flex;
  align-items: center; /* 버튼과 이미지를 수직 중앙 정렬 */
}

/* 버튼에 대한 스타일 */
.navbar .navbar-nav .btn {
  margin-right: 0.5rem; /* 버튼 사이의 여백을 추가 */
}

/* 장바구니 아이콘 이미지에 대한 스타일 */
.basket{
  width: 30px; /* 아이콘의 너비 */
  height: 30px; /* 아이콘의 높이 */
  margin-left: 0.5rem; /* 이미지와 다른 요소 사이의 여백을 추가 */
}

/* 굿즈페이지 상단버튼 */
.goods-btn{
  margin: 10px 20px;
}

/* 굿즈 상세페이지 hr 라인 흰색으로 만들기 */
.hr-style{
  background: white;
  height: 1px;
  border:0;
}